/* Gerado pelas ferramentas para desenvolvedores F12. Pode não ser uma representação fiel do arquivo de origem original */
.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 30px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
h1 {
	font-weight: 600; margin-top: 0px;
}
h2 {
	font-weight: 600; margin-top: 0px;
}
h3 {
	font-weight: 600; margin-top: 0px;
}
h4 {
	font-weight: 600; margin-top: 0px;
}
h5 {
	font-weight: 600; margin-top: 0px;
}
h6 {
	font-weight: 600; margin-top: 0px;
}
h1 + hr {
	margin-top: -10px; margin-bottom: 2.5em;
}
h2 + hr {
	margin-top: -10px; margin-bottom: 2.5em;
}
h3 + hr {
	margin-top: -10px; margin-bottom: 2.5em;
}
h4 + hr {
	margin-top: -10px; margin-bottom: 2.5em;
}
h5 + hr {
	margin-top: -10px; margin-bottom: 2.5em;
}
h6 + hr {
	margin-top: -10px; margin-bottom: 2.5em;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
p {
	margin-bottom: 1.5em;
}
ul.list li {
	margin-bottom: 0.65em;
}
.title {
	padding-bottom: 5px; margin-bottom: 1em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
#flotTip {
	padding: 3px 6px !important; border-radius: 3px !important; border: 1px solid rgb(0, 0, 0) !important; text-align: center !important; color: rgb(255, 255, 255) !important; font-size: 11px !important; text-decoration: none !important; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.15); background-color: rgb(34, 34, 34) !important; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.chart-holder {
	width: 100%; height: 325px;
}
.clear {
	clear: both;
}
.btn-big-block {
	padding: 20px; font-size: 24px; margin-bottom: 1em;
}
[class^='icon-']:not(.ui-icon) {
	
}
[class*='icon-']:not(.ui-icon) {
	
}
.icon-white {
	background-image: none;
}
.nav-tabs > .active > a > [class^='icon-'] {
	background-image: none;
}
.nav-tabs > .active > a > [class*=' icon-'] {
	background-image: none;
}
.nav-pills > .active > a > [class^='icon-'] {
	background-image: none;
}
.nav-pills > .active > a > [class*=' icon-'] {
	background-image: none;
}
.nav-list > .active > a > [class^='icon-'] {
	background-image: none;
}
.nav-list > .active > a > [class*=' icon-'] {
	background-image: none;
}
.navbar-inverse .nav > .active > a > [class^='icon-'] {
	background-image: none;
}
.navbar-inverse .nav > .active > a > [class*=' icon-'] {
	background-image: none;
}
.dropdown-menu > li > a:hover > [class^='icon-'] {
	background-image: none;
}
.dropdown-menu > li > a:hover > [class*=' icon-'] {
	background-image: none;
}
.dropdown-menu > .active > a > [class^='icon-'] {
	background-image: none;
}
.dropdown-menu > .active > a > [class*=' icon-'] {
	background-image: none;
}
.container {
	position: relative;
    top: 0px;
    left: 0px;
}
select {
	border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.accordion-group {
	border: currentColor; margin-bottom: 3px;
}
.accordion-group .accordion-heading {
	border-radius: 4px; border: 1px solid rgb(221, 221, 221); color: rgb(68, 68, 68); box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5); text-shadow: 0px -1px 0px rgba(255,255,255,0.25); background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)); background-repeat: repeat-x; background-clip: padding-box; background-color: rgb(248, 248, 248); -webkit-border-radius: 4px; -moz-border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5); -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
.accordion-group .accordion-heading a {
	color: rgb(68, 68, 68); font-size: 13px; font-weight: 600;
}
.accordion-group .accordion-heading a:hover {
	text-decoration: none;
}
.open.accordion-group .accordion-heading {
	border-color: rgb(96, 128, 57); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(148, 186, 101), rgb(123, 163, 73)); background-repeat: repeat-x; background-color: rgb(138, 177, 90);
}
.open.accordion-group .accordion-heading a {
	color: rgb(255, 255, 255);
}
.breadcrumb {
	padding: 12px; border: 1px solid rgb(221, 221, 221); margin-bottom: 10px; background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)); background-repeat: repeat-x; background-color: rgb(248, 248, 248);
}
.btn-primary {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(160, 194, 119), rgb(125, 166, 75)); background-repeat: repeat-x; background-color: rgb(146, 183, 101);
}
.btn-primary:hover {
	color: rgb(255, 255, 255); background-color: rgb(125, 166, 75);
}
.btn-primary:active {
	color: rgb(255, 255, 255); background-color: rgb(125, 166, 75);
}
.active.btn-primary {
	color: rgb(255, 255, 255); background-color: rgb(125, 166, 75);
}
.disabled.btn-primary {
	color: rgb(255, 255, 255); background-color: rgb(125, 166, 75);
}
[disabled].btn-primary {
	color: rgb(255, 255, 255); background-color: rgb(125, 166, 75);
}
.btn-primary:active {
	
}
.active.btn-primary {
	
}
.btn-secondary {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(44, 161, 197), rgb(31, 113, 138)); background-repeat: repeat-x; background-color: rgb(38, 142, 173);
}
.btn-secondary:hover {
	color: rgb(255, 255, 255); background-color: rgb(31, 113, 138);
}
.btn-secondary:active {
	color: rgb(255, 255, 255); background-color: rgb(31, 113, 138);
}
.active.btn-secondary {
	color: rgb(255, 255, 255); background-color: rgb(31, 113, 138);
}
.disabled.btn-secondary {
	color: rgb(255, 255, 255); background-color: rgb(31, 113, 138);
}
[disabled].btn-secondary {
	color: rgb(255, 255, 255); background-color: rgb(31, 113, 138);
}
.btn-secondary:active {
	
}
.active.btn-secondary {
	
}
.btn-tertiary {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(166, 166, 166), rgb(130, 130, 130)); background-repeat: repeat-x; background-color: rgb(151, 151, 151);
}
.btn-tertiary:hover {
	color: rgb(255, 255, 255); background-color: rgb(130, 130, 130);
}
.btn-tertiary:active {
	color: rgb(255, 255, 255); background-color: rgb(130, 130, 130);
}
.active.btn-tertiary {
	color: rgb(255, 255, 255); background-color: rgb(130, 130, 130);
}
.disabled.btn-tertiary {
	color: rgb(255, 255, 255); background-color: rgb(130, 130, 130);
}
[disabled].btn-tertiary {
	color: rgb(255, 255, 255); background-color: rgb(130, 130, 130);
}
.btn-tertiary:active {
	
}
.active.btn-tertiary {
	
}
.dropdown-menu {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.dropdown-menu li > a {
	margin: 0px 6px; padding: 5px 9px; border-radius: 4px; font-size: 12px; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.dropdown-menu li > a:hover {
	background: rgb(148, 186, 101); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.dropdown-menu li > a:focus {
	background: rgb(148, 186, 101); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.dropdown-menu:hover > a {
	background: rgb(148, 186, 101); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.dropdown-menu .active > a {
	background: rgb(187, 187, 187); color: rgb(255, 255, 255); text-shadow: none;
}
.dropdown-menu .active > a:hover {
	background: rgb(187, 187, 187); color: rgb(255, 255, 255); text-shadow: none;
}
.dropdown-submenu > a::after {
	margin-right: 0.25em;
}
.dropdown-menu li > a:hover {
	background: rgb(148, 186, 101);
}
.dropdown-menu li > a:focus {
	background: rgb(148, 186, 101);
}
.dropdown-submenu:hover > a {
	background: rgb(148, 186, 101);
}
.modal {
	border-radius: 7px; border: currentColor; box-shadow: 1px 1px 10px rgba(0,0,0,0.5); -webkit-border-radius: 7px; -moz-border-radius: 7px; -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}
.modal-header {
	padding: 15px; border-radius: 4px 4px 0px 0px; border: 1px solid rgb(15, 27, 40); box-shadow: inset 0px 1px 0px rgba(255,255,255,0.25); background-image: linear-gradient(rgb(43, 78, 114), rgb(30, 55, 81)); background-repeat: repeat-x; background-clip: padding-box; background-color: rgb(38, 69, 101); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25); -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
.modal-header h1 {
	margin-bottom: 0px;
}
.modal-header h2 {
	margin-bottom: 0px;
}
.modal-header h3 {
	margin-bottom: 0px;
}
.modal-header h4 {
	margin-bottom: 0px;
}
.modal-header h5 {
	margin-bottom: 0px;
}
.modal-header h6 {
	margin-bottom: 0px;
}
.modal-header h3 {
	color: rgb(255, 255, 255); font-weight: 600; text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.modal-header .close {
	color: rgb(255, 255, 255); font-size: 18px; margin-top: -10px; opacity: 1; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.modal-header .close:hover {
	opacity: 0.5;
}
.modal-backdrop {
	opacity: 0.55;
}
.in.fade.modal-backdrop {
	opacity: 0.55;
}
.nav-pills > li > a {
	color: rgb(51, 51, 51); margin-right: 0.75em; text-shadow: none; background-color: rgb(238, 238, 238);
}
.nav-pills > li > a:hover {
	color: rgb(51, 51, 51); text-shadow: none; background-color: rgb(221, 221, 221);
}
.nav-pills > li .dropdown-toggle .caret {
	border-top-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51);
}
.nav-pills > li .dropdown-toggle:hover .caret {
	border-top-color: rgb(51, 51, 51); border-bottom-color: rgb(51, 51, 51);
}
.nav-pills > li.active > a {
	color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(148, 186, 101);
}
.nav-pills > li.active > a:hover {
	color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(148, 186, 101);
}
.nav-pills > li.active .dropdown-toggle .caret {
	border-top-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255);
}
.nav-list > li > a {
	padding: 6px 15px; color: rgb(34, 34, 34);
}
.nav-list > .active > a {
	background-color: rgb(148, 186, 101);
}
.nav-list > .active > a:hover {
	background-color: rgb(148, 186, 101);
}
.nav-stacked i {
	margin-top: 4px; margin-right: 0.5em;
}
.nav-stacked .icon-chevron-right {
	color: rgb(170, 170, 170); margin-top: 5px; margin-right: 0px; float: right; text-shadow: none;
}
.nav-pills.nav-stacked .icon-chevron-right {
	margin-top: 0px;
}
.nav-stacked li a {
	color: rgb(85, 85, 85); font-size: 13px; font-weight: 600; background-color: rgb(255, 255, 255);
}
.nav-stacked li a:hover {
	color: rgb(85, 85, 85); background-color: rgb(238, 238, 238);
}
.nav-stacked li.active a {
	color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(148, 186, 101);
}
.nav-stacked li.active a:hover {
	color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(148, 186, 101);
}
.nav-stacked li.active .icon-chevron-right {
	color: rgb(255, 255, 255);
}
.pagination ul li a {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); padding: 0px 10px; border-radius: 5px; color: rgb(68, 68, 68); line-height: 32px; margin-right: 0.5em; text-shadow: 0px -1px 0px rgba(255,255,255,0.25); background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)); background-repeat: repeat-x; background-color: rgb(248, 248, 248); -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.pagination ul li a:hover {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(68, 68, 68); text-shadow: 0px -1px 0px rgba(255,255,255,0.25); background-image: linear-gradient(rgb(245, 245, 245), rgb(228, 228, 228)); background-repeat: repeat-x; background-color: rgb(238, 238, 238);
}
.pagination ul li.active a {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); font-weight: 600; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.45); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(148, 186, 101), rgb(123, 163, 73)); background-repeat: repeat-x; background-color: rgb(138, 177, 90); -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.45);
}
.pagination ul li:first-child a {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.pagination ul li:last-child a {
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.progress {
	height: 22px; line-height: 22px;
}
.progress .bar {
	height: 22px; line-height: 22px;
}
.progress .bar {
	font-size: 11px; font-weight: 600;
}
.progress .bar {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(64, 116, 170), rgb(53, 96, 140)); background-repeat: repeat-x; background-color: rgb(59, 108, 158);
}
.progress-striped.progress .bar {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-color: rgb(64, 116, 170);
}
.progress-primary .bar {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(148, 186, 101), rgb(117, 156, 70)); background-repeat: repeat-x; background-color: rgb(136, 174, 89);
}
.progress-striped.progress-primary .bar {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-color: rgb(148, 186, 101);
}
.progress-secondary .bar {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(39, 144, 176), rgb(28, 103, 126)); background-repeat: repeat-x; background-color: rgb(35, 128, 156);
}
.progress-striped.progress-secondary .bar {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-color: rgb(39, 144, 176);
}
.progress-tertiary .bar {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(153, 153, 153), rgb(122, 122, 122)); background-repeat: repeat-x; background-color: rgb(141, 141, 141);
}
.progress-striped.progress-tertiary .bar {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent); background-color: rgb(153, 153, 153);
}
.table tbody tr td {
	padding-top: 13px; padding-bottom: 13px;
}
.table-bordered thead tr {
	background-image: linear-gradient(rgb(238, 238, 238), rgb(218, 218, 218)); background-repeat: repeat-x; background-color: rgb(230, 230, 230);
}
.table-bordered thead tr th {
	color: rgb(68, 68, 68); padding-top: 10px; padding-bottom: 10px; font-size: 13px; font-weight: 600; border-right-color: rgb(204, 204, 204); border-left-color: rgb(241, 241, 241); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; box-shadow: inset 0px 1px 0px #ffffff; -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff;
}
.table-bordered thead tr th:first-child {
	border-left-color: rgb(204, 204, 204);
}
.table-bordered thead tr th:last-child {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.table-bordered tbody tr:first-child td {
	border-top-color: rgb(204, 204, 204);
}
.table-bordered tbody tr td {
	border-right-color: rgb(221, 221, 221); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.table-bordered tbody tr td:first-child {
	border-left-color: rgb(221, 221, 221);
}
.table-bordered tbody tr td:last-child {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.table-bordered thead tr {
	background: -ms-linear-gradient(rgb(238, 238, 238) 0%, rgb(218, 218, 218) 100%);
}
.table-bordered thead th {
	color: rgb(68, 68, 68); padding-top: 10px; padding-bottom: 10px; font-size: 13px; font-weight: 400; border-right-color: rgb(204, 204, 204); border-left-color: rgb(241, 241, 241); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; box-shadow: inset 0px 1px 0px #ffffff; -webkit-box-shadow: inset 0 1px 0 #ffffff; -moz-box-shadow: inset 0 1px 0 #ffffff;
}
.table-bordered thead th:first-child {
	border-left-color: rgb(204, 204, 204);
}
.table-bordered thead th:last-child {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.table-bordered tbody td {
	border-right-color: rgb(221, 221, 221); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.table-bordered tbody tr td:first-child {
	border-left-color: rgb(221, 221, 221);
}
.table-bordered tbody tr td:last-child {
	border-right-color: currentColor; border-right-width: medium; border-right-style: none;
}
.table-bordered.table-highlight thead tr {
	background-image: linear-gradient(rgb(43, 78, 114), rgb(29, 53, 77)); background-repeat: repeat-x; background-color: rgb(37, 68, 99);
}
.table-bordered.table-highlight thead th {
	color: rgb(255, 255, 255); border-right-color: rgb(22, 40, 58); border-left-color: rgb(57, 103, 151); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; box-shadow: inset 0px 1px 0px #4981ba; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 1px 0 #4981ba; -moz-box-shadow: inset 0 1px 0 #4981ba;
}
.table-bordered.table-highlight tbody tr:nth-child(2n+1) td {
	background-color: rgb(240, 243, 247);
}
.table-bordered.table-highlight tbody tr:nth-child(2n+1) th {
	background-color: rgb(240, 243, 247);
}
.table-bordered.table-highlight {
	border-top-color: rgb(28, 43, 55); border-top-width: 1px; border-top-style: solid;
}
.well {
	border-color: rgba(0, 0, 0, 0.12); border-radius: 5px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
.label-primary.label {
	background-color: rgb(148, 186, 101);
}
.label-secondary.label {
	background-color: rgb(39, 144, 176);
}
.label-tertiary.label {
	background-color: rgb(153, 153, 153);
}
.badge-primary.badge {
	background-color: rgb(148, 186, 101);
}
.badge-secondary.badge {
	background-color: rgb(39, 144, 176);
}
.badge-tertiary.badge {
	background-color: rgb(153, 153, 153);
}
.ui-slider {
	text-align: left; position: relative;
}
.ui-slider .ui-slider-handle {
	background: url("../img/jquery/handle.png") no-repeat; border: currentColor; width: 25px; height: 16px; position: absolute; z-index: 2; cursor: pointer;
}
.ui-slider .ui-slider-handle:hover {
	background-position: 0px -16px;
}
.ui-slider .ui-slider-handle:active {
	background-position: 0px -16px;
}
.ui-slider .ui-slider-range {
	border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border-radius: 6px; height: 6px; color: rgb(255, 255, 255); font-size: 0.7em; display: block; position: absolute; z-index: 1; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(80, 134, 189), rgb(63, 113, 166)); background-repeat: repeat-x; background-color: rgb(73, 126, 180); -webkit-border-radius: 6px; -moz-border-radius: 6px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
}
.slider-primary.ui-slider .ui-slider-range {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(170, 200, 133), rgb(136, 178, 83)); background-repeat: repeat-x; background-color: rgb(156, 191, 113);
}
.slider-secondary.ui-slider .ui-slider-range {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(39, 144, 176), rgb(33, 124, 151)); background-repeat: repeat-x; background-color: rgb(37, 136, 166);
}
.slider-tertiary.ui-slider .ui-slider-range {
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(153, 153, 153), rgb(138, 138, 138)); background-repeat: repeat-x; background-color: rgb(147, 147, 147);
}
.ui-slider-horizontal {
	height: 8px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -4px; margin-left: -0.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: -1px; height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0px;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0px;
}
.ui-slider-vertical {
	width: 9px; height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
	background: url("../img/jquery/handle-vertical.png") no-repeat; left: -3px; width: 15px; height: 24px; margin-bottom: -0.6em; margin-left: 0px;
}
.ui-slider-vertical .ui-slider-handle:hover {
	background-position: 0px -24px;
}
.ui-slider-vertical .ui-slider-handle:active {
	background-position: 0px -24px;
}
.ui-slider-vertical .ui-slider-range {
	left: 0px; width: 7px;
}
.ui-slider-vertical .ui-slider-range-min {
	bottom: 0px;
}
.ui-slider-vertical .ui-slider-range-max {
	top: 0px;
}
.ui-datepicker {
	padding: 0.35em 0.35em 0px;
}
.ui-datepicker th {
	color: gray; font-weight: bold;
}
.ui-datepicker .ui-widget-header {
	border: 1px solid rgb(109, 145, 65); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 0px #c0d6a4; text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-image: linear-gradient(rgb(148, 186, 101), rgb(117, 156, 70)); background-repeat: repeat-x; background-color: rgb(136, 174, 89); -webkit-box-shadow: inset 0 1px 0 #c0d6a4; -moz-box-shadow: inset 0 1px 0 #c0d6a4;
}
.ui-datepicker td a {
	border: 0px currentColor; margin-bottom: 0px;
}
.ui-datepicker td:hover {
	color: rgb(255, 255, 255);
}
.ui-datepicker td .ui-state-default {
	padding: 6px; border-radius: 2px; border: 0px currentColor; text-align: center; color: rgb(80, 80, 80); font-size: 11px; margin-bottom: 0px; filter:; text-shadow: 0px -1px 0px rgba(255,255,255,0.25); -webkit-border-radius: 2px; -moz-border-radius: 2px;
}
.ui-datepicker td .ui-state-default:hover {
	background: rgb(153, 153, 153); color: rgb(255, 255, 255); text-shadow: none;
}
.ui-datepicker td .ui-state-active {
	background: rgb(148, 186, 101); color: rgb(255, 255, 255); margin-bottom: 0px; text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.ui-datepicker .ui-state-hover {
	background: rgb(255, 255, 255); border: 1px solid rgb(109, 145, 65);
}
.ui-datepicker .ui-widget-content .ui-state-hover {
	background: rgb(255, 255, 255); border: 1px solid rgb(109, 145, 65);
}
.ui-datepicker .ui-widget-header .ui-state-hover {
	background: rgb(255, 255, 255); border: 1px solid rgb(109, 145, 65);
}
.ui-datepicker .ui-state-focus {
	background: rgb(255, 255, 255); border: 1px solid rgb(109, 145, 65);
}
.ui-datepicker .ui-widget-content .ui-state-focus {
	background: rgb(255, 255, 255); border: 1px solid rgb(109, 145, 65);
}
.ui-datepicker .ui-widget-header .ui-state-focus {
	background: rgb(255, 255, 255); border: 1px solid rgb(109, 145, 65);
}
.ui-datepicker-today a:hover {
	color: rgb(255, 255, 255); background-color: rgb(148, 186, 101);
}
.ui-datepicker-today a {
	padding: 0px 1px; margin-bottom: 0px; cursor: pointer; background-color: rgb(153, 153, 153);
}
.ui-datepicker-next-hover .ui-icon {
	opacity: 0.5; background-image: url("../css/ui-lightness/images/ui-icons_222222_256x240.png"); background-color: rgb(255, 255, 255);
}
.ui-datepicker-prev-hover .ui-icon {
	opacity: 0.5; background-image: url("../css/ui-lightness/images/ui-icons_222222_256x240.png"); background-color: rgb(255, 255, 255);
}
body.login {
	background: url("../img/signin/login-bg.png"); font: 13px/1.7em "Open Sans"; color: rgb(131, 131, 131); font-size-adjust: none; font-stretch: normal;
}
.account-container {
	background: rgb(249, 249, 249); margin: 85px auto 0px; border-radius: 4px; border: 1px solid rgb(213, 213, 213); width: 380px; display: block; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.account-container h1 {
	color: rgb(38, 56, 73); font-size: 30px; margin-bottom: 0.4em;
}
.content {
	padding: 16px 28px 23px;
}
.login-fields .field {
	margin-bottom: 1.25em;
}
.login-fields label {
	display: none;
}
.login-fields input {
	margin: 0px; padding: 11px 15px 10px 50px; width: 255px; color: rgb(142, 141, 141); font-family: "Open Sans"; font-size: 13px; display: block; box-shadow: inset 2px 2px 4px #f1f1f1; background-color: rgb(253, 253, 253);
}
.login-fields .username-field {
	background: url("../img/signin/user.png") no-repeat;
}
.login-fields .password-field {
	background: url("../img/signin/password.png") no-repeat;
}
.login-actions {
	width: 100%; margin-top: -1em; margin-bottom: 1.25em; float: left;
}
.login-social {
	border-width: 1px medium; border-style: dotted none; border-color: rgb(204, 204, 204) currentColor; padding: 10px 0px 15px; float: left;
}
.login-social p {
	margin-bottom: 1em;
}
.login-extra {
	margin: 1.5em auto; width: 300px; text-align: center; line-height: 19px; display: block; text-shadow: 1px 1px 0px #fff;
}
span.login-checkbox {
	margin-top: 31px; float: left;
}
span.login-checkbox > input[type='checkbox'] {
	width: 15px; float: left; opacity: 0;
}
span.login-checkbox > input[type='checkbox'] + label {
	background: url("../img/signin/check.png") no-repeat 0px 0px; margin: 0px; padding: 0px 0px 0px 22px; height: 15px; line-height: 1.2em; clear: none; font-size: 12px; display: block; cursor: pointer;
}
span.login-checkbox > input[type='checkbox']:checked + label {
	background-position: 0px -15px;
}
.twitter {
	background: url("../img/signin/twitter_btn.png") no-repeat; width: 157px; height: 32px; display: inline-block; position: relative;
}
.fb {
	background: url("../img/signin/twitter_btn.png") no-repeat; width: 157px; height: 32px; display: inline-block; position: relative;
}
.twitter:active {
	top: 1px;
}
.fb:active {
	top: 1px;
}
.twitter:hover {
	background-position: 0px -32px;
}
.fb:hover {
	background-position: 0px -32px;
}
.twitter a {
	padding: 5px 0px 0px 35px; height: 32px; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; display: block; text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
}
.fb a {
	padding: 5px 0px 0px 35px; height: 32px; color: rgb(255, 255, 255); font-size: 11px; font-weight: bold; display: block; text-shadow: -1px -1px 0px rgba(0,0,0,0.3);
}
.twitter a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.fb a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.fb {
	background: url("../img/signin/fb_btn.png") no-repeat; width: 162px;
}
.fb a {
	padding: 5px 0px 0px 31px;
}
.button {
	border-radius: 3px; margin-top: 18px; float: right; display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.register .login-social {
	margin-bottom: 1em;
}
.register .login-actions {
	margin-bottom: 0px;
}
.register .login-fields input {
	width: 299px; padding-left: 6px;
}
.register h1 {
	color: rgb(68, 68, 68);
}
.register span.login-checkbox {
	top: -6px; width: 200px; position: relative;
}
.register span.login-checkbox > input[type='checkbox'] + label {
	line-height: 1.3em; position: relative;
}
@media all and (max-width:480px)
{
.account-container {
	width: 280px; margin-top: 35px;
}
.login-fields input {
	width: 160px;
}
.login-social {
	width: 100%;
}
.twitter {
	margin-bottom: 1em; display: block;
}
.register .login-fields input {
	width: 204px; padding-left: 6px;
}
}
.control-group span.error {
	background: rgb(185, 74, 72); padding: 4px 8px; border-radius: 3px; top: 5px; color: rgb(255, 255, 255); font-size: 11px; font-weight: 600; margin-bottom: 1em; position: relative; text-shadow: 1px 1px 2px rgba(0,0,0,0.35); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.control-group span.error::after {
	left: 7px; top: -6px; border-right-color: transparent; border-bottom-color: rgb(185, 74, 72); border-left-color: transparent; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
.error.control-group {
	padding-bottom: 0.5em;
}
.error.control-group div.clean {
	display: none;
}
.success.control-group span.error {
	display: none !important;
}
.success.control-group span.error::after {
	border: currentColor;
}
.success.control-group div.clean {
	background: url("../img/validation/validation-success.png") no-repeat 0px 0px; top: 5px; width: 15px; height: 15px; display: inline-block; position: relative;
}
.success.control-group input + div.clean {
	left: 8px;
}
.success.control-group select + div.clean {
	left: 8px;
}
.success.control-group textarea + div.clean {
	left: 8px;
}
.shortcuts {
	text-align: center;
}
.shortcuts .shortcut {
	margin: 0px 0.9% 1em; padding: 12px 0px; border-radius: 5px; border: 1px solid rgb(216, 216, 216); width: 30%; text-decoration: none; vertical-align: top; display: inline-block; background-image: linear-gradient(rgb(250, 250, 250), rgb(233, 233, 233)); background-repeat: repeat-x; background-color: rgb(243, 243, 243);
}
.shortcuts .shortcut:hover {
	background: rgb(232, 232, 232);
}
.shortcuts .shortcut:hover .shortcut-icon {
	color: rgb(102, 102, 102);
}
.shortcuts .shortcut .shortcut-icon {
	width: 100%; color: rgb(136, 136, 136); font-size: 32px; margin-top: 0.25em; margin-bottom: 0.65em;
}
.shortcuts .shortcut .shortcut-label {
	color: rgb(102, 102, 102); font-weight: 600; display: block;
}
.cols-3.shortcuts .shortcut {
	width: 29%;
}
.cols-2.shortcuts .shortcut {
	width: 47%;
}
@media all and (max-width:979px)
{
.shortcuts .shortcut .shortcut-icon {
	font-size: 24px;
}
.shortcuts .shortcut .shortcut-label {
	font-size: 11px;
}
}
.plan-container {
	margin-bottom: 2em; float: left; position: relative;
}
.plan {
	border-radius: 4px; margin-right: 6px;
}
.plan-header {
	text-align: center; color: rgb(255, 255, 255); border-top-left-radius: 4px; border-top-right-radius: 4px; text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(103, 103, 103); -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; -webkit-border-top-right-radius: 4px; -moz-border-radius-topright: 4px;
}
.plan-header .plan-title {
	padding: 10px 0px; border-radius: 4px 4px 0px 0px; color: rgb(255, 255, 255); font-size: 16px; border-bottom-color: rgba(0, 0, 0, 0.3); border-bottom-width: 1px; border-bottom-style: solid;
}
.plan-header .plan-price {
	padding: 20px 0px 10px; line-height: 0.8em; font-size: 66px; border-top-color: rgba(255, 255, 255, 0.2); border-top-width: 1px; border-top-style: solid; background-color: rgb(121, 121, 121);
}
.plan-header .plan-price span.term {
	padding: 2em 0px 1em; line-height: 0; font-size: 13px; margin-bottom: 0px; display: block;
}
.plan-header .plan-price span.note {
	top: -40px; line-height: 0.8em; font-size: 17px; display: inline; position: relative;
}
.best-value.plan-container .plan-header {
	color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0,0,0,0.25); background-color: rgb(131, 174, 78);
}
.best-value.plan-container .plan-price {
	background-color: rgb(148, 186, 101);
}
.plan-features {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(221, 221, 221) rgb(221, 221, 221) currentColor; padding-bottom: 1em;
}
.plan-features ul {
	list-style: none; margin: 0px; padding: 0px;
}
.plan-features ul li {
	margin: 0px 2em; padding: 1em 0px; text-align: center; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dotted;
}
.plan-features ul li:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
.plan-actions {
	padding: 1.15em 0px; border: 1px solid rgb(221, 221, 221); border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background-image: linear-gradient(rgb(248, 248, 248), rgb(230, 230, 230)); background-repeat: repeat-x; background-color: rgb(241, 241, 241); -webkit-border-bottom-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-right-radius: 4px; -moz-border-radius-bottomright: 4px;
}
.plan-actions .btn {
	margin: 0px 2em; padding: 1em 0px; font-size: 16px; font-weight: 600; display: block;
}
.plans-1.pricing-plans .plan-container {
	width: 100%;
}
.plans-2.pricing-plans .plan-container {
	width: 50%;
}
.plans-3.pricing-plans .plan-container {
	width: 33.33%;
}
.plans-4.pricing-plans .plan-container {
	width: 25%;
}
@media all and (max-width:979px) and (min-width:767px)
{
.pricing-plans .plan-container {
	width: 50% !important; margin-bottom: 2em;
}
}
@media all and (max-width:767px)
{
.pricing-plans .plan-container {
	width: 100% !important; margin-bottom: 2em;
}
}
.faq-container .faq-search {
	text-align: right; margin-bottom: 2em;
}
.faq-container .faq-search input {
	padding: 2%; width: 96%; display: block;
}
.faq-container .faq-empty {
	display: none;
}
.faq-container .faq-toc {
	border-width: 1px medium; border-style: dotted none; border-color: rgb(204, 204, 204) currentColor; margin: 2em 0px 0px; padding: 1.5em 0px;
}
.faq-container .faq-toc ol {
	margin: 0px; padding: 0px;
}
.faq-container .faq-toc ol li {
	list-style: none; margin-bottom: 0.75em;
}
.faq-container .faq-toc ol li a {
	margin-left: 0.5em;
}
.faq-container .faq-list {
	list-style: none; margin: 3em 0px 0px; padding: 0px;
}
.faq-container .faq-list li {
	margin-bottom: 2em; display: table;
}
.faq-container .faq-list li .faq-icon {
	padding-right: 1.25em; vertical-align: top; display: table-cell;
}
.faq-container .faq-list li .faq-text {
	vertical-align: top; display: table-cell;
}
.faq-container .faq-list li .faq-text h4 {
	margin-top: 0px;
}
.faq-container .faq-list li .faq-number {
	background: rgb(148, 186, 101); border-radius: 100px; border: 3px solid rgb(255, 255, 255); width: 32px; height: 32px; text-align: center; color: rgb(255, 255, 255); line-height: 32px; font-size: 14px; font-weight: 600; box-shadow: 1px 1px 3px rgba(0,0,0,0.4); text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
}
.error-container {
	text-align: center; margin-top: 1em; margin-bottom: 6em;
}
.error-container h1 {
	line-height: 1em; font-size: 120px; margin-bottom: 0.5em;
}
.error-container h2 {
	font-size: 28px; margin-bottom: 0.75em;
}
.error-container .error-details {
	font-size: 16px; margin-bottom: 1.5em;
}
.error-container .error-actions a {
	margin: 0px 0.5em;
}
@media all and (max-width:480px)
{
.error-container h1 {
	font-size: 72px;
}
}
.item-row {
	width: 100%; padding-bottom: 3.5em; margin-bottom: 3.5em; border-bottom-color: rgb(187, 187, 187); border-bottom-width: 1px; border-bottom-style: dotted; display: table;
}
.item-row .item-label {
	width: 200px; font-size: 13px; font-weight: 600; vertical-align: top; display: table-cell;
}
.item-row .item-content {
	display: table-cell;
}
@media all and (max-width:767px)
{
.item-row {
	display: block;
}
.item-row::before {
	line-height: 0; display: table; content: "";
}
.item-row::after {
	line-height: 0; display: table; content: "";
}
.item-row::after {
	clear: both;
}
.item-row .item-label {
	width: 100%; margin-bottom: 1.5em; display: block;
}
.item-row .item-content {
	width: 100%; display: block;
}
}
.gallery-container {
	list-style: none; margin: 0px 0px 20px; text-align: center;
}
.gallery-container li {
	margin: 0px 5px 2em; padding: 7px; border: 1px solid rgb(211, 211, 211); width: 200px; vertical-align: top; display: inline-block; position: relative; box-sizing: border-box;
}
.gallery-container img {
	border-radius: 3px; position: relative; z-index: 10; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.stat {
	display: inline-block;
}
.stacked {
	border-radius: 4px; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.gallery-container li {
	border-radius: 4px; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.stacked::after {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(211, 211, 211) rgb(211, 211, 211); border-radius: 0px 0px 3px 3px; left: 3px; height: 1px; right: 3px; bottom: -3px; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px;
}
.gallery-container li ::after {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(211, 211, 211) rgb(211, 211, 211); border-radius: 0px 0px 3px 3px; left: 3px; height: 1px; right: 3px; bottom: -3px; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px;
}
.stacked::before {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(211, 211, 211) rgb(211, 211, 211); border-radius: 0px 0px 3px 3px; left: 3px; height: 1px; right: 3px; bottom: -3px; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px;
}
.gallery-container li ::before {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(211, 211, 211) rgb(211, 211, 211); border-radius: 0px 0px 3px 3px; left: 3px; height: 1px; right: 3px; bottom: -3px; display: block; position: absolute; content: ""; background-color: rgb(255, 255, 255); -webkit-border-radius: 0 0 3px 3px; -moz-border-radius: 0 0 3px 3px;
}
.stacked::before {
	left: 6px; right: 6px; bottom: -5px;
}
.gallery-container li ::before {
	left: 6px; right: 6px; bottom: -5px;
}
.preview {
	background-position: 50% 50%; border-radius: 3px; left: 7px; top: 7px; width: 184px; height: 120px; display: none; position: absolute; z-index: 20; background-image: url("../img/gallery/zoom.png"); background-repeat: no-repeat; background-color: rgba(0, 0, 0, 0.65); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
body {
	background: rgb(255, 255, 255); font: 12px/1.7em "Open Sans", arial, sans-serif; font-size-adjust: none; font-stretch: normal;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
#wrapper {
	margin: 0px auto -61px; height: auto !important; min-height: 100%;
}
.push {
	height: 50px;
}
#topbar {
	border-bottom: 1px solid rgb(0, 0, 0);
    background: rgb(22, 40, 58);
    padding: 8px;
    position: relative; z-index: 101;
    top: 0px;
    left: 0px;
}
#topbar .badge {
	line-height: 11px; padding-top: 0px; padding-bottom: 0px; margin-right: 0.35em;
}
#topbar #menu-trigger {
	top: 22px; right: 0px; color: rgb(255, 255, 255); font-size: 18px; display: none; position: absolute;
}
#topbar #menu-trigger:hover {
	text-decoration: none;
}
#topbar .open.container #top-nav {
	display: block;
}
#topbar #top-nav > ul > li > .dropdown-menu {
	left: 0px; top: 140%; right: auto;
}
#topbar #top-nav > ul > li > .dropdown-menu::before {
	left: 9px; top: -7px; right: auto; border-right-color: transparent; border-bottom-color: rgb(170, 170, 170); border-left-color: transparent; border-right-width: 7px; border-bottom-width: 7px; border-left-width: 7px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
#topbar #top-nav > ul > li > .dropdown-menu::after {
	left: 10px; top: -6px; right: auto; border-right-color: transparent; border-bottom-color: white; border-left-color: transparent; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu {
	left: auto; right: 0px;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu::before {
	left: auto; right: 9px;
}
#topbar #top-nav > ul.pull-right > li > .dropdown-menu::after {
	left: auto; right: 10px;
}
#topbar #top-nav > ul.pull-right .dropdown-submenu .dropdown-menu {
	left: auto; right: 100%;
}
#topbar #top-nav > ul {
	margin: 0px; padding: 0px;
}
#topbar #top-nav > ul > li {
	list-style: none; margin: 0px 0px 0px 1.5em; padding: 0px; color: rgb(255, 255, 255); font-size: 11px; float: left;
}
#topbar #top-nav > ul > li:first-child {
	margin-left: 0px;
}
#topbar #top-nav > ul > li > a {
	color: rgb(128, 167, 207);
}
#topbar #top-nav > ul > li > a > .caret {
	border-top-color: rgb(128, 167, 207);
}
#header {
	background: rgb(29, 53, 77); height: 68px; position: relative; z-index: 91; box-shadow: inset 0px 1px 0px #28496b; -webkit-box-shadow: inset 0 1px 0 #28496b; -moz-box-shadow: inset 0 1px 0 #28496b;
}
#header .container {
	height: 68px; position: relative;
}
#header .brand {
	background: url("../img/logo.png") no-repeat 0px 0px; top: 24px; width: 280px; height: 32px; color: rgb(255, 255, 255); line-height: 600; overflow: hidden; font-size: 18px; font-weight: 600; margin-right: 0.75em; display: block; position: relative; text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#header .btn-navbar {
	padding: 14px 0px 10px; height: auto; text-align: center; color: rgb(148, 186, 101); font-size: 16px; margin-top: 25px; margin-right: -20px; margin-left: -20px; border-top-color: rgb(1, 2, 3); border-top-width: 1px; border-top-style: solid; display: none; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.15);
}
#header .btn-navbar:hover {
	text-decoration: none;
}
#main-nav {
	padding: 0px; margin-top: 6px; margin-right: 0px; margin-bottom: 0px; display: inline-block; position: relative;
}
#main-nav > li {
	list-style: none; margin: 0px 4px 0px 0px; padding: 0px; float: left;
}
#main-nav > li > a {
	background: padding-box; padding: 10px 12px; border-radius: 3px 3px 0px 0px; border: 1px solid transparent; color: rgb(255, 255, 255); font-size: 12px; font-weight: 600; text-shadow: 1px 1px 1px rgba(0,0,0,0.6); -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -webkit-border-bottom-left-radius: 0; -moz-border-radius-bottomleft: 0; -webkit-border-bottom-right-radius: 0; -moz-border-radius-bottomright: 0; -webkit-background-clip: padding-box; -moz-background-clip: padding;
}
#main-nav > li > a {
	border: 1px solid rgb(8, 15, 21); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px #325b85; background-image: linear-gradient(rgb(36, 65, 95), rgb(23, 43, 62)); background-repeat: repeat-x; background-color: rgb(31, 56, 82); -webkit-box-shadow: inset 0 1px 0 #325b85; -moz-box-shadow: inset 0 1px 0 #325b85;
}
#main-nav > li > a:hover {
	border: 1px solid rgb(8, 15, 21); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px #325b85; background-image: linear-gradient(rgb(36, 65, 95), rgb(23, 43, 62)); background-repeat: repeat-x; background-color: rgb(31, 56, 82); -webkit-box-shadow: inset 0 1px 0 #325b85; -moz-box-shadow: inset 0 1px 0 #325b85;
}
#main-nav > li.open > a {
	border: 1px solid rgb(8, 15, 21); color: rgb(255, 255, 255); text-decoration: none; box-shadow: inset 0px 1px 0px #325b85; background-image: linear-gradient(rgb(36, 65, 95), rgb(23, 43, 62)); background-repeat: repeat-x; background-color: rgb(31, 56, 82); -webkit-box-shadow: inset 0 1px 0 #325b85; -moz-box-shadow: inset 0 1px 0 #325b85;
}
#main-nav > li > a:hover {
	background-image: linear-gradient(rgb(30, 55, 81), rgb(22, 40, 58)); background-repeat: repeat-x; background-color: rgb(27, 49, 72);
}
#main-nav > li.open > a {
	background-image: linear-gradient(rgb(30, 55, 81), rgb(22, 40, 58)); background-repeat: repeat-x; background-color: rgb(27, 49, 72);
}
#main-nav > li.active > a {
	background: rgb(255, 255, 255); color: rgb(25, 45, 66); border-bottom-color: rgb(255, 255, 255); filter: !important; box-shadow: none; text-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#main-nav > li > a > i {
	top: 1px; padding-right: 0.35em; font-size: 14px; position: relative;
}
#main-nav > li.nav-icon > a > i {
	padding-right: 0px;
}
#main-nav > li.nav-icon > a > span {
	display: none;
}
#main-nav > li.dropdown > .dropdown-menu {
	left: auto; top: 130%; right: 0px;
}
#main-nav > li.dropdown > .dropdown-menu::before {
	top: -7px; right: 9px; border-right-color: transparent; border-bottom-color: rgb(170, 170, 170); border-left-color: transparent; border-right-width: 7px; border-bottom-width: 7px; border-left-width: 7px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
#main-nav > li.dropdown > .dropdown-menu::after {
	top: -6px; right: 10px; border-right-color: transparent; border-bottom-color: white; border-left-color: transparent; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
#main-nav .dropdown-submenu .dropdown-menu {
	left: auto; right: 100%;
}
#main-nav .caret {
	margin-top: 8px; margin-left: 0.25em; border-top-color: rgb(255, 255, 255); opacity: 0.65;
}
#main-nav .active .dropdown-toggle .caret {
	border-top-color: rgb(29, 53, 77);
}
#masthead {
	padding: 20px 0px; width: 100%; color: rgb(51, 51, 51); border-bottom-color: rgb(201, 201, 201); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 1px 1px 2px rgba(0,0,0,0.15); text-shadow: 1px 1px 2px #fff; background-image: linear-gradient(rgb(255, 255, 255), rgb(237, 237, 237)); background-repeat: repeat-x; background-color: rgb(248, 248, 248); -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}
#masthead h1 {
	font-weight: 600; margin-top: 0px; margin-bottom: 0px;
}
#masthead h2 {
	font-weight: 600; margin-top: 0px; margin-bottom: 0px;
}
#masthead h3 {
	font-weight: 600; margin-top: 0px; margin-bottom: 0px;
}
#masthead h4 {
	font-weight: 600; margin-top: 0px; margin-bottom: 0px;
}
#masthead h5 {
	font-weight: 600; margin-top: 0px; margin-bottom: 0px;
}
#masthead h6 {
	font-weight: 600; margin-top: 0px; margin-bottom: 0px;
}
#masthead p {
	font-size: 13px; margin-bottom: 0px;
}
#masthead .masthead-pad {
	width: 100%; display: table;
}
#masthead .masthead-pad .masthead-icon {
	width: 65px; font-size: 50px; font-weight: 400; vertical-align: top; display: table-cell; position: relative;
}
#masthead .masthead-pad .masthead-icon i {
	top: 15px; position: relative;
}
#masthead .masthead-pad .masthead-text {
	vertical-align: top; display: table-cell;
}
#content {
	margin-top: 3em; margin-bottom: 8em;
}
#content .row {
	margin-top: 5em;
}
#content :first-child.row {
	margin-top: 0px;
}
#footer {
	background: rgb(29, 53, 77); padding: 20px 0px; color: rgb(255, 255, 255); border-top-color: rgb(0, 0, 0); border-top-width: 1px; border-top-style: solid; box-shadow: inset 0px 1px 0px #2b4e72; -webkit-box-shadow: inset 0 1px 0 #2b4e72; -moz-box-shadow: inset 0 1px 0 #2b4e72;
}
#footer a {
	color: rgb(128, 167, 207);
}
#footer a:hover {
	color: rgb(128, 167, 207); text-decoration: underline;
}
#footer #builtby {
	text-align: right;
}
@media all and (max-width:767px)
{
#header {
	width: auto; padding-right: 20px; padding-left: 20px; margin-right: -20px; margin-left: -20px;
}
#masthead {
	width: auto; padding-right: 20px; padding-left: 20px; margin-right: -20px; margin-left: -20px;
}
#extra {
	width: auto; padding-right: 20px; padding-left: 20px; margin-right: -20px; margin-left: -20px;
}
#footer {
	width: auto; padding-right: 20px; padding-left: 20px; margin-right: -20px; margin-left: -20px;
}
#header {
	border-top-color: rgb(34, 34, 34); border-top-width: 8px; border-top-style: solid;
}
#footer #builtby {
	text-align: left;
}
#topbar {
	padding: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
#topbar #menu-trigger {
	display: block;
}
#topbar #top-nav {
	background: padding-box white; list-style: none; margin: 1px 0px 0px; padding: 4px 0px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.2); top: 45px; right: -9px; display: none; position: absolute; z-index: 101; min-width: 160px; box-shadow: 0px 5px 10px rgba(0,0,0,0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding-box;
}
#topbar #top-nav .dropdown-menu {
	margin: 0px; padding: 0px 0px 0.5em 1em; border: currentColor; left: 0px; top: 0px; right: 0px; float: none; display: block; position: static; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#topbar #top-nav .dropdown-menu::before {
	display: none !important;
}
#topbar #top-nav .dropdown-menu::after {
	display: none !important;
}
#topbar #top-nav > ul {
	margin: 0.5em; padding-top: 0.65em; border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: dotted; float: none;
}
#topbar #top-nav > ul:first-child {
	padding: 0px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
#topbar #top-nav > ul > li {
	margin-left: 0px; float: none; display: block;
}
#topbar #top-nav > ul > li a {
	padding: 6px; color: rgb(51, 51, 51); display: block;
}
#topbar #top-nav > ul > li a:hover {
	background: rgb(148, 186, 101); border-radius: 5px; color: rgb(255, 255, 255); text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
#topbar #top-nav > ul > li a .caret {
	border-top-color: rgb(51, 51, 51);
}
#topbar #top-nav > ul > li a.dropdown-toggle {
	color: rgb(51, 51, 51);
}
#topbar #top-nav::before {
	top: -7px; right: 9px; border-right-color: transparent; border-bottom-color: rgba(0, 0, 0, 0.2); border-left-color: transparent; border-right-width: 7px; border-bottom-width: 7px; border-left-width: 7px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
#topbar #top-nav::after {
	top: -6px; right: 10px; border-right-color: transparent; border-bottom-color: white; border-left-color: transparent; border-right-width: 6px; border-bottom-width: 6px; border-left-width: 6px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; display: inline-block; position: absolute; content: "";
}
.chart-holder {
	width: 97%;
}
.row [class*='span'] {
	margin-bottom: 3em;
}
.row-fluid [class*='span'] {
	margin-bottom: 3em;
}
.row [class*='span']:last-child {
	margin-bottom: 0px;
}
.row-fluid [class*='span']:last-child {
	margin-bottom: 0px;
}
}
@media all and (max-width:979px)
{
.in.nav-collapse {
	height: auto !important;
}
#header {
	height: auto;
}
#header .brand {
	top: 14px;
}
#header .container {
	height: auto;
}
#header .btn-navbar {
	display: block;
}
#header #main-nav {
	margin-top: 0px; margin-bottom: 1em; display: block; position: static;
}
#header #main-nav > li {
	list-style: none; margin: 0px; padding: 0px; float: none;
}
#header #main-nav > li > a {
	padding: 9px 12px; border-radius: 0px; border: currentColor; color: rgb(255, 255, 255); font-size: 13px; font-weight: 600; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#header #main-nav > li > a:hover {
	padding: 9px 12px; border-radius: 0px; border: currentColor; color: rgb(255, 255, 255); font-size: 13px; font-weight: 600; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none;
}
#header #main-nav > li.active > a {
	border-radius: 4px; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
#header #main-nav > li.active > a:hover {
	background: rgb(255, 255, 255); color: rgb(51, 51, 51);
}
#header #main-nav > li.nav-icon > a > span {
	display: inline;
}
#header .dropdown-submenu > a::after {
	display: none;
}
#header .dropdown-menu > li > a {
	color: rgb(255, 255, 255); text-shadow: 1px 1px 2px rgba(0,0,0,0.4);
}
#header .dropdown-menu > li > a:hover {
	color: rgb(51, 51, 51); text-shadow: none;
}
#header .dropdown-menu > li > a > span {
	display: inline;
}
#header .dropdown-menu::before {
	display: none !important;
}
#header .dropdown-menu::after {
	display: none !important;
}
}
