@model CustomFramework.Security.Membership.Model.Feature
@{
    ViewBag.Title = "Editar Funcionalidade";
    ViewBag.Header = "Editar Funcionalidades";
    ViewBag.Description = "Altere o nome das funcionalidades do sitema.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CustomFramework.Web.Mvc
<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })

                            @*<label class="control-label" for="name">Your Name</label>*@

                            <div class="controls">
                                @Html.CustomTextBoxFor(model => model.Name, new { @class = "input-large", name = "Name" }, true, false)                                
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-info" type="submit">Salvar</button>
                            @Html.ActionLink("Voltar", "ListFeatures", "Membership", null, new {@class ="btn btn-warning"})
                                                       
                        </div>
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
